# See https://nextjs.org/docs/basic-features/static-file-serving#hidden-files-and-folders
.next
out
build

# dependencies
node_modules
/.pnp
.pnp.js

# testing
coverage

# next.js
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.pem

# local env files
.env.local
.env.*.local

# vercel
.vercel

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
